<footer class="py-4">
   <div id="footer-container" class="container d-flex justify-content-end align-items-center">
    <a href="https://github.com/alEXE-tech/Toucan" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github pt-2" aria-hidden="true"></i>
    </a>
   </div>
</footer>
