<header>
   <nav>
      <section id="logo">
         <a href="/">Toucan Torrent</a>
      </section>
      <section id="header-nav">
         <ul>
            <li><a href="/torrents/dashboard">Torrents</a></li>
         </ul>
      </section>
      <section id="account-nav">
         <ul>
            <li id="user">Signed in as: <%= user.userName.replace(/\b\w/g, c => c.toUpperCase()) %></li>
            <li><a href="/settings">Settings</a></li>
            <li> 
               <form action="/logout" method="POST">
                  <button type="submit">Logout</button>
                 </form>
            </li>
         </ul>
      </section>
   </nav>
</header>
