<header>
   <nav>
      <section id="logo">
         <a href="/">Toucan Torrent</a>
      </section>
      <section id="header-nav">
         <ul>
            <li><a href="/torrents/dashboard">Torrents</a></li>
            <li><a href="/torrents/video">Video</a></li>
            <li><a href="/torrents/music">Music</a></li>
            <li><a href="/torrents/books">Books</a></li>
         </ul>
      </section>
      <section id="account-nav">
         <ul>
            <i>avatar</i>
            <li><a href="/settings">Settings</a></li>
            <li> 
               <form action="/logout" method="POST">
                  <button type="submit">Logout</button>
                 </form>
            </li>
         </ul>
      </section>
   </nav>
</header>
