<header>
   <nav>
      <div id="logo">
         <a href="/">Toucan Torrent</a>
      </div>
      <div id="header-nav">
         <ul>
            <li><a href="/torrents">Torrents</a></li>
            <li><a href="/video">Video</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/books">Books</a></li>
         </ul>
      </div>
   </nav>
</header>
