<header>
   <nav class="navbar navbar-expand">
      <div class="container">
            <button class='btn d-flex justify-content-start p-0' data-bs-toggle="modal" data-bs-target="#nav-menu-overlay">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list border-primary" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
</svg>  
            </button>
            <a href="/" class="navbar-brand ms-4">
               <img src="/assets/images/logo.png" width="65" alt="" />
            </a>
            <button type="button" class='btn btn-lg'>
               <i class="bi bi-search"></i>
            </button>
      </div>

      <%- include('mainMenuModal') %>
   </nav>

</header>
