<header>
   <nav class="navbar navbar-expand">
      <div class="container-fluid">
         <ul>
            <li>
               <button class='btn btn-lg'>
                  <i class="bi bi-list"></i>
               </button>
            </li>
            <li class="navbar-brand">
               <img src="" alt="">
            </li>
         </ul>

      </div>
   </nav>
</header>
