<!-- Menu Full Screen --> 
<div id="nav-menu-overlay" aria-hidden="true" class="modal fade">
   <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" id="main-menu-close" class="close btn-lg" data-bs-dismiss="modal">
                <i class="bi bi-x-lg"></i>  
            </button>
            <a href="/" id="modal-logo" class="navbar-brand">
               <img src="/assets/images/logo.png" width="65" alt="" />
            </a>
         </div>

         <div class="modal-body d-flex justify-content-center">
            <ul class="nav-menu d-flex flex-column align-items-center me-4">
               <li>
                  <a href="/">
                  Home
                  </a>
               </li>
               <li>
                  <a href="/torrents/dashboard">
                  Torrents
                  </a>
               </li>
               <li>
                  <a href="/settings">
                  Settings
                  </a>
               </li>
               <li>
                  <a href="/">
                  Logout
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
