<ul>
  <li>
    <a href="/torrents/dashboard">all</a>
  </li>
  <li>
    <a href="/torrents/seeding">seeding</a>
  </li>
  <li>
    <a href="/torrents/leeching">leeching</a>
  </li>
  <!-- <li> -->
  <!--   <a href="/torrents/hashing">hashing</a> -->
  <!-- </li> -->
  <!-- <li> -->
  <!--   <a href="/torrents/seeding">active</a> -->
  <!-- </li> -->
</ul>
