<div id="torrents-filter" class="btn-group">
   <button class="btn btn-dropdown btn-sm" type="button" id="btn-torrents-filter" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
       <i class="bi bi-filter"></i>
   </button>
   <ul class="dropdown-menu" aria-labelledby='defaultDropDown'>
     <li>
       <a class="dropdown-item" href="/torrents/dashboard">all</a>
     </li>
     <li>
       <a class="dropdown-item" href="/torrents/seeding">seeding</a>
     </li>
     <li>
       <a class="dropdown-item" href="/torrents/leeching">leeching</a>
     </li>
   </ul>
</div>
