<section id="home-page">
   <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
   <% } %>
   <% if (locals.messages.success) { %>
        <% messages.success.forEach( el => { %>
            <div class="alert"><%= el.msg %></div>
        <% }) %>    
   <% } %>

      <section id='title' class='container '>
         <div class="mt-5">
               <h1 class='pt-2'>Toucan<br>Torrent</h1>
         </div>
      </section>

   <!-- Upload Torrent Section -->
      <section id="upload-torrent-main" class="d-flex flex-row justify-content-center justify-content-lg-start ps-lg-5 mx-lg-5 ">

        <div class="d-lg-none d-flex flex-column justify-content-center align-items-center mx-0 py-4" >
            <button class="btn btn-toucan" data-bs-toggle="modal" data-bs-target="#torrent-upload-modal" type="button">
            </button>
            <h2 class="pt-2">Add a Torrent</h2>
         </div>

        <div class="d-lg-flex d-none flex-row align-items-end w-50 ps-4" >
              <h2 class="pt-2">Add a Torrent</h2>
            <button class="btn btn-toucan" data-bs-toggle="modal" data-bs-target="#torrent-upload-modal" type="button">
               <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
     <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
   </svg>
            </button>
          </div>

      </section>
</section>
<%- include('partials/uploadModal') %>


