<h1>This will be where your settings go for account, torrents, etc.</h1>

<section>
   <h3>User</h3>
   <p>change username</p>
   <p>change password</p>
   <p>change email</p>
   <p>delete account</p>
</section>

<section>
   <h3>Torrent Client</h3>
   <p>Protocol (UDP/TCP)</p>
   <p>DHT</p>
   <p>PEX</p>
   <p>LSD</p>
   <p>Port Range</p>
   <p> Min seeders in Peer Set</p>
   <p> Max seeders in Peer Set</p>
   <p> Max upload slots</p>
   <p> Max download slots</p>
   <p> Max upload rate</p>
   <p> Max download rate</p>
</section>
