<!-- example for feathers app on traversy media -->

<nav class="navbar navbar-light bg-light">
   <div class="container">
      <span class="navbar-brand mb-0 h1">Livestream Project Ideas</span>
   </div>
</nav>

<div class="container mt-5">
   <div class="row">
      <div class="col-md-6">
         <h1 class="text-center mb-3">Submit an Idea</h1>
         <form id="form">
            <div class="form-group">
               <input type="text" id="idea-text" class="form-control bg-dark text-white"
                  placeholder="Enter idea (30 chars max)" maxlength="30" required />
            </div>
            <div class="form-group">
               <input type="text" id="idea-tech" class="form-control bg-dark text-white"
                  placeholder="Language, framework, etc" maxlength="30" required />
            </div>

            <div class="form-group">
               <input type="text" id="idea-viewer" class="form-control bg-dark text-white" placeholder="Enter your name"
                  maxlength="20" required />
            </div>

            <button type="submit" class="btn btn-primary btn-block">
               Suggest Idea
            </button>
         </form>
      </div>
      <div class="col-md-6">
         <div id="ideas">
         </div>
      </div>
   </div>
</div>
