/* might change later */
/*  CUSTOM CSS */
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

:root {
  --background: #edebe4;
  --modal-background: #fcfbf7;
  --toucan-green: #1ebc6e;
  --toucan-orange: #f4aa15;
  --toucan-red: #e42e47;
  --toucan-outlines: #422a40;
  --toucan-info: #2d8cc1;
  --toucan-download: #9c6097;
  --toucan-general: #9c9c9a;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  font-family: "Kiwi Maru";
}

body > section {
  height: 100%;
  overflow: auto;
}

header {
  /* height: 10%; */
  background-color: var(--background);
}
nav div#header-container,
#footer-container,
.torrents-page-body {
  max-width: 90%;
}

.header-menu {
  max-width: 35%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#mobile-logo-container {
  max-width: 20%;
  width: 100%;
}
#desktop-logo-container {
  padding: 0;
}

footer {
  height: 10%;
  background-color: var(--background);
}

small {
  color: rgba(0, 0, 0, 0.5);
}

/* 
*
* Button styling
*
*/
#upload-torrent-main div {
  min-width: 250px;
  max-width: 250px;
}

.btn {
  transition: 0.3s;
}
.btn-toucan {
  color: var(--toucan-green);
  transition: 0.3s;
}
#dashboard-upload:hover,
#dashboard-upload:focus {
  color: var(--toucan-green);
}

.btn-toucan-text {
  background-color: var(--toucan-green);
  color: var(--modal-background);
  transition: 0.3s;
}

.btn-danger {
  transition: 0.3s;
}

.btn-danger:hover {
  background-color: black;
}

.btn-toucan:hover,
#btn-torrents-filter:hover,
.btn-toucan:focus,
#btn-torrents-filter:focus {
  color: var(--toucan-orange);
}
.btn-toucan-text:hover,
.btn-toucan-text:focus {
  background-color: var(--toucan-orange);
  color: var(--modal-background);
}

#throttle-dropdown-btn:hover,
#throttle-dropdown-btn:focus {
  color: var(--toucan-red);
}
.btn-toucan-info {
  color: var(--toucan-orange);
}

.btn-toucan-download {
  color: var(--toucan-download);
}
#client-toggle button:hover,
#client-toggle button:focus {
  color: var(--toucan-general);
}
.btn-toucan-delete {
  color: var(--toucan-red);
}

/*
* Torrent search btn at the top!
*/
#torrent-search-btn:before {
  content: none;
}

#torrent-search-btn {
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  background: var(--background);
  padding: 10px 15px;
  transition: background 0.3s ease-in-out;
}
#torrent-search-btn:hover,
#torrent-search-btn:focus,
#torrent-search-btn:active {
  background: var(--toucan-outlines);
  color: var(--modal-background);
}

#torrent-search-btn:after {
  content: none;
}

#torrent-search-popup {
  position: static;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}
#torrent-search-input {
  background: var(--modal-background);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

/* For file search */
#autocomplete-dropdown {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  border: none;
  /* border-radius: 10px; */
  box-shadow: 0 0 3px lightgrey;
  font-size: 2rem;
}

#autocomplete-dropdown * {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 1000px) {
  #torrent-search-popup{
    position: absolute;
  -webkit-transform: translate(-80%, 10%);
  -o-transform: translate(-80%,10%);
  transform: translate(-80%, 10%);
    width: 300%;
  }
  #autocomplete-dropdown {
    /* right: auto; */
  -webkit-transform: translate(-75%, 25%);
  -o-transform: translate(-75%,25%);
  transform: translate(-75%, 25%);

  }
}


#home-page,
#login-page,
#signup-page {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("https://images.unsplash.com/photo-1532503353673-585dcc16ad86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")
      center center;
  background-size: cover;
}
#login-form,
#signup-link,
#signup-form {
  max-width: 250px;
  min-width: 250px;
}

#login-form,
#signup-form,
#upload-card {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 3px lightgrey;
}

div#torrent-category select {
  border: 1px solid var(--toucan-outlines);
  transition: 0.3s;
}
div#torrent-category select:active,
div#torrent-category select:focus,
div#torrent-category select:hover {
  background-color: var(--toucan-outlines);
  color: white;
  box-shadow: 0 0 0 black;
}

#upload-card {
  background-color: var(--modal-background);
}

#updating-settings input,
#login-form input,
#signup-form input {
  background-color: var(--modal-background);
  font-size: 1.2rem;
  color: var(--toucan-general);
}

#password-hide-toggle span {
  background-color: white;
  border: 0;
  color: rgba(0, 0, 0, 0.63);
}

.torrents-page {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("https://images.unsplash.com/photo-1516421417223-d0c0551e1031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1219&q=80")
      center center;
  background-size: 250%;
}

section#title {
  height: 40%;
}

section#torrents-page-title {
  height: 15%;
}
section#torrents-page-body {
  height: 80%;
}

#torrent-table-headers {
  border-bottom: 1px solid gray;
  background-color: var(--background);
  border: 1px solid var(--toucan-outlines);
  border-radius: 4px;
}

.torrent-row {
  max-width: 100%;
  width: 100%;
  background: var(--modal-background);
  border-radius: 4px;
  transition: 0.3s;
}

.torrent-row:hover,
.torrent-row:focus {
  background: var(--background);
}

input {
  background-color: var(--background);
  padding-left: 5px;
  border: 1px solid var(--toucan-outlines);
  border-radius: 7px;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.bi-list,
#menu-desktop * {
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.bi-list:hover .bi-list:focus,
#menu-desktop *:hover {
  color: var(--toucan-green);
}

#menu-desktop ul {
  min-width: 500px;
}

#menu-desktop ul li {
  justify-content: center;
  align-items: center;
  min-width: 20%;
  margin-left: 0;
  padding: 0;
}

.modal-content {
  background-color: var(--modal-background);
}
.modal-header {
  width: 100%;
  border: 0;
}

.modal-header div {
  max-width: 1200px;
  width: 100%;
  border: 0;
}
.modal-footer {
  max-width: 100vw;
  border: 0;
}
.modal-body div,
.modal-footer div {
  max-width: 1200px;
  padding: 0;
}

.modal-body > div.container {
  height: 100%;
}

#main-menu-close,
#upload-menu-close {
  background-color: var(--modal-background);
  border: 0;
  transition: 0.3s;
}

#main-menu-close:hover,
#upload-menu-close:hover,
#main-menu-close:focus,
#upload-menu-close:focus {
  color: var(--toucan-green);
}

.nav-menu li a:hover,
.nav-menu li a:focus {
  text-decoration: none;
  color: var(--toucan-green);
}

#dot-torrent {
  width: 50%;
  max-width: 50%;
}

#file-status {
  width: 50%;
}

.torrent-submit-body {
  width: 100%;
  height: 100%;
}

#torrent-info,
#torrent-submit-info {
  width: 100%;
  max-height: 90%;
  background-color: var(--background);
  border: 1px solid var(--toucan-outlines);
  border-radius: 7px;
  color: rgba(0, 0, 0, 0.7);
}
#torrent-info section,
#torrent-submit-info section {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
}

#torrent-info section {
  max-height: 10%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

#torrent-info > section {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#torrent-info section#peers,
#torrent-info section#tracker-list {
  height: 20vh;
}

#torrent-info section#tracker-list ul,
#torrent-info section#peers ul {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--modal-background);
  border: 1px solid var(--toucan-outlines);
  border-radius: 4px;
}
#torrent-info section#peers ul {
  column-count: 2;
  width: 70%;
}

#torrent-view-header {
  max-width: 100%;
  color: rgba(0, 0, 0, 0.63);
}
#torrent-view-page {
  background-color: var(--modal-background);
}

#client-toggle,
button.torrent-toggle {
  background: none;
}

/* 
*
* Font Styling 
*
* */

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.6rem;
  color: rgba(0, 0, 0, 0.33);
}

h2 {
  font-size: 3.2rem;
  color: rgba(0, 0, 0, 0.7);
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  color: #000;
}

a {
  color: var(--toucan-outlines);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--toucan-general);
}

li {
  font-size: 1.5rem;
  list-style-type: none;
}
/* li:nth-of-type(1n+10) { */
/*     display: none; */
/* }  */
.nav-menu li {
  font-size: 1.8rem;
  margin: 50px 10px 0 0;
}

span {
  font-size: 1.5rem;
}

span#client-rate {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.33);
}

.torrent-submit-body span {
  font-size: 1.2rem;
}
.bi {
  font-size: 2rem;
}

small {
  font-size: 1.8rem;
}
span small {
  font-size: 1.1rem;
}

.torrent-rate small {
  font-size: 1.2rem;
}
input {
  font-size: 2rem;
}

#password-hide-toggle * {
  color: rgba(0, 0, 0, 0.5);
  /* color: pink; */
}
.btn-toucan-text,
#upload-cancel {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-menu li a {
  font-size: 3.2rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.63);
  transition: 0.3s;
}

#menu-desktop * {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.63);
}

.dropdown-menu {
  border: 1px solid var(--toucan-outlines);
  border-radius: 4px solid;
  padding: 3px;
}


#torrents-filter ul li a {
  font-size: 1.5rem;
}
#torrent-view-header span {
  color: rgba(0, 0, 0, 0.63);
}

/* 
* 
* Icon styling 
*
*/

i.bi-check-circle-fill {
  color: var(--toucan-green);
}

.btn small {
  color: #000;
  font-size: 1rem;
  margin-left: 5px;
}
