* {
   box-sizing: border-box;
}

.container {
   display: flex;
   flex-flow: column wrap;
   align-items: stretch;
   width: 80%;
  margin-left: 10%;
   height: 100%;
}

header,
footer{
   background: lightgrey;
}
footer {
  display: flex;
  justify-content: flex-end;
}
nav {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}
nav section {
   width: 30%;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
}
#header-nav ul {
   width: 100%;
   display: flex;
   flex-flow: row;
   justify-content: space-around;
   align-items: stretch;
}
