#search-container {
  width: 40%;
}
.search-bar {
  --size: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-radius: 55px;
  height: var(--size);
  width: var(--size);
  padding: 2px 2px 4px 2px;
  margin-left: 5px;
  position: relative;
  transition: width 0.3s ease-in-out;
  overflow: hidden;

  &__input {
    flex-grow: 1;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: 0;
    line-height: calc(var(--size) - 1px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:focus {
    outline: 0;
  }

  &__submit {
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background: var(--background);
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    // margin-left: auto;
    transition: background 0.3s ease-in-out;
  }

  &_submit label i {
    cursor: pointer;
  }

  &:focus-within {
    width: 100%;

    .search-bar__input {
      outline: 0;
      opacity: 1;
      background: rgba(grey, 0.2)
    }

    .search-bar__submit {
      background: var(--toucan-outlines);
      color: var(--modal-background);
      
      &:focus,
      &:hover {
        outline: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      }
    }

  }
}
